[submodule "external/detectors/gltr"]
	path = external/detectors/gltr
	url = https://github.com/HendrikStrobelt/detecting-fake-text.git
[submodule "external/detectors/detectgpt"]
	path = external/detectors/detectgpt
	url = https://github.com/eric-mitchell/detect-gpt.git
[submodule "external/detectors/seqxgpt"]
	path = external/detectors/seqxgpt
	url = https://github.com/Jihuai-wpy/SeqXGPT.git
[submodule "external/detectors/synthid_text"]
	path = external/detectors/synthid_text
	url = https://github.com/google-deepmind/synthid-text.git
[submodule "external/vllm_data_oversampler"]
	path = external/vllm_data_oversampler
	url = https://github.com/michalrajkowski/vllm_data_oversampler
