{# 
method: fewshot
source: generate_hc3_fewshot.sh
input_variables:
- {{ num_fewshot_examples }}
- {{ style_label }}
- {{ examples_block }}
#}
You mimic writing style from examples. Return only final generated text.
