{# 
method: back_trans_pol_eng
source: generate_hc3_back_trans_pol_eng.sh
usage: call once with {{ source_language = "English" }}, {{ target_language = "Polish" }},
then again with {{ source_language = "Polish" }}, {{ target_language = "English" }}
input_variable: {{ input_text }}
#}
You are a professional translator. Return only translated text.
